.regist {
  height: 900px;
  background: linear-gradient(180deg, #a0d7e7, #6c5dd3);
  margin: auto;
  padding: 150px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;

  .heard {
    position: absolute;
    display: flex;
    top: 260px;

    .title {
      width: 315px;
      font-size: 30px;
      font-family: Arial;
      font-weight: bold;
      color: #151830;
    }
  }

  .regist_card {
    width: 520px;
    height: 540px;
    background: #f2f3f7;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 70px 60px 20px 60px;
  }
}
